spring:
  profiles:
    active: prod
  banner:
    location: classpath:banner.txt
  mvc:
    servlet:
      path: /eyi

eyi:
  storage:
    fdfs:
      tracker-server: 114.117.165.130:22122
      # tracker.conf ä¸­ http.server_port
      http-tracker-http-port: 8080
logging:
  level:
    org.springframework.boot.autoconfigure.logging: info